<div id="modal" class="hide"> <!--modal - vai cobrir a tela toda-->
    <div class="content"> <!-- conteudo de dentro da tela-->
        <div class="header"> 
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search"><!--formulario-->
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text"name="search" placeholder="Pesquise por Cidade">
                <button>
                    <img src="/extras-aula-1/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>